/* RESET */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

input:focus {
  outline: none;
}

/* DEFAULT */

:root {
  --main-padding-x: 20px;
  --primary-color: #87dc9b;
  --secondary-color: #56aa6c;
  --primary-light-color: #f5f5f5;
  --secondary-light-color: #87dc9b;
}

*::selection {
  background-color: var(--primary-color);
  color: white;
}

.streamer img,
.description img {
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 50%;
  margin-right: 10px;
}

.streamer-name,
.name-video span,
.carousel-wrapper .video-info {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.preview-info,
.description img,
.video-info span,
.video-info i,
.name-streamer,
.category:first-child,
.category:hover,
header .search-button:hover,
header .fa-microphone-alt:hover,
header .fa-bell:hover,
.dropdown-menu > .fa-paw:hover,
.streamer:hover {
  cursor: pointer;
}

.streamer-name:hover,
.name-streamer:hover,
.video-info span:hover {
  color: var(--secondary-light-color);
}

/* HEADER */

header {
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 12px var(--main-padding-x);
  font-size: 20px;
  background: white;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.5);
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 5;
}

.header-logo {
  color: var(--primary-color);
  font-size: 22px;
  font-family: Mochiy Pop P One;
  font-weight: bolder;
}

.fa-cat {
  padding-right: var(--main-padding-x);
}

.header-search,
.header-menu {
  display: flex;
  align-items: center;
}

.header-search input {
  border: 1px solid var(--secondary-color);
  border-radius: 6px 0 0 6px;
  width: 500px;
}

.search-button {
  border: 1px solid var(--secondary-color);
  border-radius: 0 4px 4px 0;
  border-left: none;
}

.header-search input,
.search-button {
  font-size: 14px;
  padding: 7px;
}

.search-button:hover {
  background-color: var(--secondary-color);
}

.header-search input:focus {
  border: 1px solid blue;
  box-shadow: 0 0 5px lightblue;
  transition: 0.3s box-shadow;
}

header .fa-microphone-alt {
  margin-left: 10px;
}

header .fa-bell {
  margin-right: 18px;
}

.dropdown-menu > .fa-paw {
  font-size: 14px;
  padding: 10px;
  background: var(--primary-color);
  border-radius: 50%;
}

header .fa-microphone-alt,
header .fa-bell {
  color: var(--secondary-color);
}

header .fa-microphone-alt:hover,
header .fa-bell:hover {
  color: var(--secondary-light-color);
}

.dropdown-menu > .fa-paw:hover {
  background: var(--secondary-color);
}

.dropdown-menu {
  position: relative;
  display: inline-block;
  border-radius: 50%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  padding-top: 7px;
  min-width: 160px;
  z-index: 1;
  right: 0;
}

.dropdown-content a {
  color: black;
  background-color: white;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 16px;
  border: 1px solid var(--secondary-color);
  display: block;
}

.dropdown-content a:first-child {
  border-radius: 5px 5px 0 0;
  border-bottom: none;
}

.dropdown-content a:last-child {
  border-radius: 0 0 5px 5px;
  border-top: none;
  color: red;
}

.dropdown-content a:hover {
  background-color: var(--secondary-color);
}

.dropdown-menu:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 1200px) {
  .header-search input {
    width: 400px;
  }
}

@media screen and (max-width: 800px) {
  .header-search input {
    width: 300px;
  }
}

@media screen and (max-width: 650px) {
  .header-search input {
    width: 200px;
  }
}

/* SIDEBAR */

aside {
  width: 260px;
  position: fixed;
  top: 57px;
  bottom: 0;
  background-color: var(--primary-light-color);
  font-size: 18px;
  z-index: 1;
}

.streamers {
  overflow-y: auto;
  height: calc(100% - (var(--main-padding-x) * 8));
  border-bottom: 2px solid white;
}

.streamer,
.info-block {
  padding: var(--main-padding-x);
}

.streamer:hover {
  background-color: var(--secondary-color);
}

.streamer {
  display: flex;
  align-items: center;
}

.streamer-name {
  max-width: 105px;
}

.streamer img {
  transition: 0.5s;
}

.streamer-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.followers {
  display: flex;
  align-items: center;
}

.streamer.live .followers:before {
  content: "";
  margin: 4px;
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: red;
  box-shadow: 0 0 0 rgba(255, 0, 0, 0.4);
  animation: pulse 1s infinite;
}

.info-block {
  position: absolute;
  bottom: 0;
  margin: var(--main-padding-x);
  background-color: var(--secondary-color);
  text-align: center;
}

.social-networks {
  margin-top: var(--main-padding-x);
  display: flex;
  justify-content: space-evenly;
}

.social-networks .fa-telegram:hover {
  color: darkcyan;
}

.social-networks .fa-instagram:hover {
  color: darkorchid;
}

.social-networks .fa-facebook:hover {
  color: darkblue;
}

@media screen and (max-width: 1200px) {
  aside {
    width: calc(var(--main-padding-x) * 2 + 35px);
  }

  .info-block,
  .streamer-info {
    display: none;
  }

  .streamers {
    height: 100%;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}

/* MAIN */

main {
  top: 57px;
  left: 260px;
  padding: var(--main-padding-x);
  position: relative;
  width: calc(100% - 260px);
  overflow-y: auto;
  min-height: 90vh;
  background-color: whitesmoke;
}

.carousel-wrapper {
  height: 400px;
  position: relative;
  width: 800px;
  margin: 20px auto;
  margin-bottom: 50px;
  padding: 25px;
}

.carousel-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
}

.arrow-prev {
  left: -30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
}

.arrow-next {
  right: -30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

.light {
  color: white;
}

@media (max-width: 480px) {
  .arrow,
  .light .arrow {
    background-size: 10px;
    background-position: 10px 50%;
  }
}

/*Select every element*/
[id^="item"] {
  display: none;
}

.item-1 {
  z-index: 2;
  opacity: 1;
  background-color: white;
  background-size: cover;
}

.item-2 {
  background-color: white;

  background-size: cover;
}

.item-3 {
  background-color: white;

  background-size: cover;
}

*:target ~ .item-1 {
  opacity: 0;
}

#item-1:target ~ .item-1 {
  opacity: 1;
}

#item-2:target ~ .item-2,
#item-3:target ~ .item-3 {
  z-index: 3;
  opacity: 1;
}

.carousel-wrapper .video-container {
  display: flex;
}

.carousel-wrapper .video-info {
  width: 70%;
}

.carousel-wrapper .preview-info,
.carousel-wrapper .preview-info img,
.carousel-wrapper .video-container {
  height: 100%;
}

.carousel-wrapper .preview-info,
.carousel-wrapper .preview-info img {
  width: 100%;
  border-radius: 10px 0 0 10px;
}

.carousel-wrapper .description {
  align-items: start;
  padding: 10px;
  width: 30%;
}

.carousel-wrapper .name-video {
  width: 100%;
}

.carousel-wrapper .name-video span {
  width: 90%;
}

.about {
  width: 100%;
  height: 270px;
  white-space: normal;
  text-overflow: clip;
}

@media screen and (max-width: 1000px) {
  .carousel-wrapper {
    width: 600px;
    height: 350px;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 35px 0 15px 0;
  font-size: 18px;
  position: absolute;
  width: 95%;
  bottom: 0;
}

footer i {
  padding-left: 10px;
}

@media screen and (max-width: 1200px) {
  main {
    width: calc(100% - (var(--main-padding-x) * 2 + 35px));
    left: calc(var(--main-padding-x) * 2 + 35px);
  }
}

.categories {
  margin: 4px 0;
  margin-bottom: 50px;
  display: grid;
  font-size: 18px;
  column-gap: 14px;
  grid-auto-flow: row;
  grid-template-columns: repeat(15, auto);
  overflow: auto;
}

.categories::-webkit-scrollbar {
  height: 0;
}

.category {
  background-color: var(--primary-light-color);
  border-radius: 15px;
  padding: 2px 7px;
  border: 1px solid var(--secondary-color);
  white-space: nowrap;
}

.category:first-child,
.category:hover {
  background-color: var(--primary-color);
  color: white;
}

.video-block {
  margin: 20px 0;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(3, 360px);
  row-gap: 15px;
  column-gap: 15px;
  justify-content: space-between;
}

.preview-info > img {
  height: 220px;
  width: 360px;
  transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -webkit-transition: 0.25s ease-in-out;
}

.preview-info {
  position: relative;
}

.preview-info i {
  display: none;
  color: white;
  position: absolute;
  top: 47%;
  left: 47%;
  font-size: 30px;
}

.preview-info:hover img {
  -webkit-filter: brightness(40%);
  filter: brightness(40%);
}

.preview-info:hover i {
  display: block;
}

.stream,
.video-time {
  position: absolute;
  margin: 10px;
  font-size: 14px;
  color: white;
  border-radius: 4px;
  padding: 5px;
}

.stream {
  top: 0;
  left: 0;
  background-color: rgb(255, 0, 0);
}

.video-time {
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.description {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.name-video {
  font-size: 18px;
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.name-video span {
  max-width: 280px;
}

.name-streamer {
  font-size: 14px;
  color: var(--secondary-light-color);
  margin: auto;
}

@media screen and (max-width: 1410px) {
  .preview-info > img {
    height: 200px;
    width: 300px;
  }
  .name-video {
    width: 240px;
  }
  .name-video span {
    max-width: 220px;
  }
  .video-block {
    grid-template-columns: repeat(3, 300px);
    justify-content: space-around;
  }
}

@media screen and (max-width: 1230px) {
  .preview-info > img {
    height: 190px;
    width: 280px;
  }
  .name-video {
    width: 220px;
  }
  .name-video span {
    max-width: 200px;
  }
  .video-block {
    grid-template-columns: repeat(3, 280px);
    justify-content: space-around;
  }
}

@media screen and (max-width: 1050px) {
  .preview-info > img {
    height: 220px;
    width: 360px;
  }
  .name-video {
    width: 300px;
  }
  .name-video span {
    max-width: 280px;
  }
  .video-block {
    grid-template-columns: repeat(2, 360px);
    justify-content: space-around;
  }
}

@media screen and (max-width: 850px) {
  .preview-info > img {
    height: 260px;
    width: 420px;
  }
  .name-video {
    width: 360px;
  }
  .name-video span {
    max-width: 340px;
  }
  .video-block {
    grid-template-columns: repeat(1, 420px);
    justify-content: center;
  }
}
